@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-white-soft: #f8f8f8;
  --color-white-mute: #f2f2f2;

  --color-black: #181818;
  --color-black-soft: #222222;
  --color-black-mute: #282828;

  --font-sans:
    Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --color-primary-50: #daf4f9;
  --color-primary-100: #d6f3f8;
  --color-primary-200: #ade7f1;
  --color-primary-300: #84dceb;
  --color-primary-400: #5bd0e4;
  --color-primary-500: #32c4dd;
  --color-primary-600: #289db1;
  --color-primary-700: #1e7685;
  --color-primary-800: #144e58;
  --color-primary-900: #0a272c;
  --color-primary-950: #092328;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  @apply bg-white-mute dark:bg-black-mute transition-colors duration-500;
}
body {
  @apply min-h-screen min-w-screen text-black dark:text-white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
